.page-container{
  margin: 50px;
}

.module{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header, .text{
  font-family: monospace;
}



.lottie-container{
  align-items: center;
  align-self: center;
  width: 650px;
  height: 500px;
}
