
.vs/deplaced.github.io/FileContentIndex/9dd44c52-ac82-43c3-becd-b7043442637b.vsidx
.vs/deplaced.github.io/config/applicationhost.config
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/deplaced.github.io/FileContentIndex/283fc2a2-823a-408c-94d4-d3f0dc918e7f.vsidx
.vs/deplaced.github.io/FileContentIndex/0033af01-8631-44a8-99ed-efe6e0120a83.vsidx
.vs/deplaced.github.io/FileContentIndex/723923d1-fc1a-4cd8-a842-d93bc391d9a7.vsidx
*.vsidx
