html{
    scroll-behavior: smooth; 
    margin: auto;
    height: 100%;
    width: auto;
}

.desktop-header{
    position: sticky;
    z-index: 1;
}

.mobile-header{
    position: sticky;
    z-index: 1;
}