html{
    scroll-behavior: smooth; 
    margin: auto;
    height: fit-content;
}

.desktop-header{
    position: sticky;
    margin: 3%;
    z-index: 1;
}

.mobile-header{
    position: sticky;
    margin: 3%;
    z-index: 1;
}