
.header-container {
    border-radius: 15px;
    background: #0543f9;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .toolbar-btn-container {
    margin: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .toolbar-btn {
    cursor: pointer;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
  }

  .icon{
    font-size: 1.6rem;
  }

  