<header class="header-container">
    <div class="toolbar-btn-container">
      <a mat-icon-button  class="toolbar-btn" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
        <mat-icon class="icon">home</mat-icon>
      </a>
      <a mat-icon-button class="toolbar-btn" routerLink="/projects" routerLinkActive="active" ariaCurrentWhenActive="page">
        <mat-icon class="icon">summarize</mat-icon>
      </a>
      <a mat-icon-button class="toolbar-btn" routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">
        <mat-icon class="icon">face</mat-icon>
      </a>
      <a mat-icon-button class="toolbar-btn" routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">
        <mat-icon class="icon">call</mat-icon>
      </a>
    </div>
  </header>
  