
.header-container {
  min-height: 10%;
  background: #0543f9;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0  20px;
  border-radius: 30px;
  margin-bottom: 50px;
}

.toolbar-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.toolbar-btn {
  font-size: 1.6rem;
  cursor: pointer;
  color: white;
  text-decoration: none;
  margin-left: 15px;
}


.burger-menu {
  cursor: pointer;
}