
.header-container { 
  border-radius: 15px;
  background: #0543f9;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0  1%;
  width: 97%;
}

.toolbar-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.toolbar-btn {
  font-size: 1.6rem;
  cursor: pointer;
  color: white;
  font-family: monospace;
  text-decoration: none;
  margin-left: 45px;
}
