.page-container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.header {
  font-family: monospace; 
  font-size: 1.8rem;
}

.mat-grid-list {
  margin: 1px;
}

.project-grid {
  border: 1px solid black; 
  font-family: monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
  overflow: hidden;
}
