<div class="page-container">
  <mat-grid-list class="project-list" [cols]="(isMobile$ | async) ? 1 : 3">
    @for (project of projects$ | async; track project) {
      <mat-grid-tile class="grid-tile">
        <mat-card class="project-card" appearance="outlined">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{project.name}}</mat-card-title>
          </mat-card-header>
          <img mat-card-image ngSrc="assets/images/image.png" fill="true" alt="Photo of a flower">
        </mat-card>
      </mat-grid-tile>
    }
  </mat-grid-list>
</div>
