.page-container {
  overflow: hidden;
  display: flex;
}

.project-list {
  width: 99%;
  align-self: center;
}

.project-grid {
  border: 1px solid black; 
  font-family: monospace;
  display: flex;
  justify-content: center;
  z-index: -1;
  overflow: hidden;
}
